.article {
    margin-bottom: 4em;
}

.article__header {
    /* max-width: 700px; */
    margin-bottom: 1em;
}

.article__img-wrapper {
    position: relative;
    display: block;
    padding-bottom: 50%;

    /* padding-bottom: 130%; */
}

.article__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article__title {
    margin-bottom: 1rem;
    font-size: 1.75em;
    font-weight: 700;
}

.article__date {
    display: block;
    margin-bottom: 1rem;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--color-grey);
}

.article__content-body p {
    margin-bottom: 0.5em;
    font-size: 1.25em;
}

.article__content-body figure,
.article__content-body img {
    display: block;
    width: 100%;
    max-width: 650px;
    margin: 1.7em;
    margin: 1.7em auto;
}

.article__content-body figure img {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
}

.article__content-body figure figcaption {
    display: block;
}

.article__footer {
    display: flex;
    justify-content: flex-start;
}

.chat {
    display: grid;
    row-gap: 1rem;
}

.comment {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    padding: 1em;
    background: var(--color-white);
}

.comment__avatar {
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.comment__header {
    display: flex;
    justify-content: space-between;
}

.comment__footer {
    display: flex;
    justify-content: flex-end;
    color: var(--color-grey);
}

.comment__footer .comment__button + .comment__button {
    margin-left: 1em;
}

.comment__button {
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.chat-form__avatar {
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 0.8em;
    overflow: hidden;
    border-radius: 50%;
}

.chat-form__user {
    overflow-wrap: break-word;
    font-size: 1.3em;
}

.chat-form {
    display: grid;
    grid-template-columns: minmax(80px, 100px) 1fr;
    column-gap: 1rem;
    padding: 1em;
    background-color: var(--color-white);
}

.chat-form__header {
    margin-bottom: 1em;
}

.chat-form__textarea {
    display: block;
    width: 100%;
    height: 80px;
    padding: 0.8em;
    margin-bottom: 1em;
    font: inherit;
    resize: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 0.3em;
}

.chat-form__button {
    display: block;
    padding: 0.5em 1em;
    margin-left: auto;
    font: inherit;
    font-size: 1.25rem;
    color: var(--color-white);
    background-color: var(--color-tango);
    border: none;
    border-radius: 0.3em;
}

.chat-login {
    /* display: none; */
}

.comment__user {
    max-width: 100px;
    font-size: 1.5em;
    overflow-wrap: break-word;
}

.comment__footer {
    grid-column: 1 / 3;
}

.chat-login__message-link {
    color: var(--color-red);
}

.slider {
    width: 100%;
    max-width: 650px;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.article-slider {
    padding: 0 30px;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slider__item {
    height: 350px;
}

@media (max-width: 500px) {
    .chat__form {
        grid-template-columns: 50px 1fr;
    }

    .chat-form__avatar {
        width: 50px;
        height: 50px;
    }

    .chat-form__button {
        font-size: 1rem;
    }

    .comment__avatar {
        width: 40px;
        height: 40px;
    }

    .comment__user {
        font-size: 1rem;
    }
}
