/* Page */

.page {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: var(--color-grey-lightest);
}

.page__body {
  display: grid;
  grid-template-rows: min-content minmax(320px, 1fr) min-content;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--color-grey-lightest);

  /* overflow-x: hidden; */
  font-size: 1em;
  color: var(--color-black);
}

.container__height {
  height: 100%;
}

.main__container--index {
  width: 100%;
  height: 100%;
}
.page__body {
}

.main__inner--index {
  background-image: url('/img/index_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100%;
}

.main-index__title {
  font-size: 3em;
  color: var(--color-white);
}

.main-index__subtitle {
  font-size: 2em;
  color: var(--color-white);
}
